/***** VARIÁVEIS *****/

:root {
    --custom-line-space: 3rem;

    --text-color-1: #000000;
    --text-color-2: #3b3b3b;
    --text-color-3: #979797;

    --delete-icon-color: #c47179;
    --add-icon-color: #6998a3;

    --item-background-color-1: #ffffff;
    --item-background-color-2: #d3d3d3;

    --custom-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/***** RESET *****/

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***** BASE *****/

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    width: 50rem;
    /* padding: 6rem; */
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

ul {
    list-style: none;
}

input::placeholder {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color-3);
}

/***** COMPONENTES *****/

.custom-item-background-1 {
    background-color: var(--item-background-color-1);
}

.custom-item-background-2 {
    background-color: var(--item-background-color-2); 
}

.checked {
    color: var(--text-color-3);
    font-weight: 400;
    text-decoration: line-through;
}

.button {
    border: none;
    width: var(--custom-line-space);
    background-color: transparent;
    cursor: pointer;
}

.hide {
    display: none;
} 

/***** CUSTOM *****/

/* Seção principal */

.primary-heading {
    margin: 8rem 0;
    font-size: 4.3rem;
    text-align: center;
}

.main-section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--custom-box-shadow);
}

.list {
    margin: 0 auto;
    background-color: var(--item-background-color-1);
}

.list-item {
    padding-left: 1rem;
    height: var(--custom-line-space);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    transition: all .4s;
}

.list-item:last-child {
    border-bottom: 1px solid var(--item-background-color-2);
}

.todo {
    line-height: var(--custom-line-space);
}

.submit-container {
    display: flex;
}

.submit-container {
    margin: 0 auto;
    width: 50rem;
}

.input {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding-left: 1rem;
    border: none;
    width: 100%;
    height: var(--custom-line-space);
}

.add-new-task {
    background-color: var(--item-background-color-2);
    transition: all .3s;
}

.delete {
    color: var(--delete-icon-color);
}

.delete-all {
    margin-top: 2rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--item-background-color-2);
    box-shadow: var(--custom-box-shadow);
    
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: all .3s;
}

.delete-all:hover {
    color: var(--item-background-color-1);
    background-color: var(--delete-icon-color);
}

/* Rodapé */

.footer {
    padding: 2rem 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    width: 100vw;
    background-color: var(--text-color-1);
}